<div class="container">
  <div class="row">
      <div>
          <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
              <div class="form-group nomEdu">
                  <label for="nombreEdu">Nombre de la institucion</label>
                  <input type="text" class="form-control" id="nombreEdu" name="nombreEdu" [(ngModel)]="nombreEdu" required>
              </div>
              <div class="form-group descEdu">
                  <label for="descripcion">Descripcion de sus estudios</label>
                  <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion" required>
              </div>
              <button class="btn btn-dark">
                  Agregar educacion
              </button>
          </form>
      </div>
  </div>
</div>