<div class="row">
    <div class="col-xs-12 col-sm-2 col-lg-2">
      <img src="../../../assets/DIEGO.jpeg" 
      class="img-fluid" id="fotoredonda">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Conoci la programacion y desperto mi interes por aprender sobre la materia, como resultado espero con esta herramienta poder ayudar a mi comunidad. 
            </p>
        </span>
    </div>
</div>
