<div class="row">
    <div class="container">
        <div class="logo">
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
            <img src="../../../assets/APLogo.png" id="logoAP"></a>
        </div>
        <div class="redes">
            
                <a href="https://www.linkedin.com/in/diego-cano-3a766622b/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href="https://github.com/D-cano2"><img src="../../../assets/github.png" id="github"></a>
                <a href="https://www.facebook.com/"><img src="../../../assets/facebook.png" id="facebook"></a>
            <button type="button" class="btn btn-outline-light"(click)="login()" *ngIf="!isLogged">ingreso </button>
            <button type="button" class="btn btn-outline-light"(click)="onLogOut()" *ngIf="isLogged">CERRAR SESION </button>
        </div>
    </div>
</div>


